<div class="container mt-3">
    <div>
        <div class="row">
            <div class="col-lg-8 mb-3">
                <a title="{{topHeadingDisplay.title}}" target="_blank" href="{{topHeadingDisplay.url}}">
                    <img width="100%" height="auto" src="{{topHeadingDisplay.urlToImage}}" alt="This is an image">
                </a>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="row">
                    <h1 class="fs-3 fw-bold">
                        <a title="{{topHeadingDisplay.title}}" target="_blank" href="{{topHeadingDisplay.url}}">
                            {{topHeadingDisplay.title}}
                        </a>
                    </h1>
                </div>
                <div class="row">
                    <p>
                        <a title="{{topHeadingDisplay.title}}" target="_blank" href="{{topHeadingDisplay.url}}">
                            {{topHeadingDisplay.content}}
                        </a>
                    </p>
                </div>
                <div class="row">
                    <p>Source: <a href="#">{{topHeadingDisplay.source.name}}</a></p>
                </div>
            </div>
        </div>

        <div class="row d-none d-md-inline-flex mb-5 border-bottom-1-e5" id="row-heading-sub">
            <div class="col-lg-4 mb-3">
                <div class="row row-start">
                    <h6 class="fs-6 fw-bold">
                        <a title="{{topHeadingArr[0].title}}" target="_blank" href="{{topHeadingArr[0].url}}">
                            {{topHeadingArr[0].title}}
                        </a>
                    </h6>
                </div>
                <div class="row row-center">
                    <p>
                        <a title="{{topHeadingArr[0].title}}" target="_blank" href="{{topHeadingArr[0].url}}">
                            {{topHeadingArr[0].content}}
                        </a>
                    </p>
                </div>
                <div class="row row-end">
                    <p>Source: <a href="#">{{topHeadingArr[0].source.name}}</a></p>
                </div>
            </div>

            <div class="col-lg-4 mb-3">
                <div class="row row-start">
                    <h6 class="fs-6 fw-bold">
                        <a title="{{topHeadingArr[1].title}}" target="_blank" href="{{topHeadingArr[1].url}}">
                            {{topHeadingArr[1].title}}
                        </a>
                    </h6>
                </div>
                <div class="row row-center">
                    <p>
                        <a title="{{topHeadingArr[1].title}}" target="_blank" href="{{topHeadingArr[1].url}}">
                            {{topHeadingArr[1].content}}
                        </a>
                    </p>
                </div>
                <div class="row row-end">
                    <p>Source: <a href="#">{{topHeadingArr[1].source.name}}</a></p>
                </div>
            </div>

            <div class="col-lg-4 mb-3">
                <div class="row row-start">
                    <h6 class="fs-6 fw-bold">
                        <a title="{{topHeadingArr[2].title}}" target="_blank" href="{{topHeadingArr[2].url}}">
                            {{topHeadingArr[2].title}}
                        </a>
                    </h6>
                </div>
                <div class="row row-center">
                    <p>
                        <a title="{{topHeadingArr[2].title}}" target="_blank" href="{{topHeadingArr[2].url}}">
                            {{topHeadingArr[2].content}}
                        </a>
                    </p>
                </div>
                <div class="row row-end">
                    <p>Source: <a href="#">{{topHeadingArr[2].source.name}}</a></p>
                </div>
            </div>
        </div>

        <div class="row border-bottom-1-e5" id="main-content">

            <div class="col-lg-5 border-right-1-e5 pl-3 pb-3 m-0 pr-3" id="left-content">
                <h3 class="mb-3">Top News</h3>

                <div *ngFor="let article of leftContentBusinessPage" class="row pb-3">
                    <div class="row">
                        <h6 class="fs-6 fw-bold">
                            <a title="{{article.title}}" target="_blank" href="{{article.url}}">
                                {{article.title}}
                            </a>
                        </h6>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <a title="{{article.title}}" target="_blank" href="{{article.url}}">
                                <img width="100%" height="auto" src="{{article.urlToImage}}" alt="This is an image">
                            </a>
                        </div>
                        <div class="col-lg-7 col-right">
                            <p>
                                <a title="{{article.title}}" target="_blank" href="{{article.url}}">
                                    {{article.content}}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 m-0 pl-3 pr-3 pb-3" id="right-content">
                <!-- Business Us -->
                <div class="row border-bottom-1-e5">
                    <h3 class="mb-3">
                        <a title="United States" href="#">
                            United States
                        </a>
                    </h3>

                    <div class="col-lg-12">
                        <div class="row border-bottom-1-e5">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <a title="{{businessUsTopContent[0].title}}" target="_blank" href="{{businessUsTopContent[0].url}}">
                                            <img width="100%" height="auto" src="{{businessUsTopContent[0].urlToImage}}" alt="This is an image">
                                        </a>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <h6 class="fs-6 fw-bold">
                                            <a title="{{businessUsTopContent[0].title}}" target="_blank" href="{{businessUsTopContent[0].url}}">
                                                {{businessUsTopContent[0].title}}
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{businessUsTopContent[0].title}}" target="_blank" href="{{businessUsTopContent[0].url}}">
                                            {{businessUsTopContent[0].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="row">
                                    <h6 class="fs-6 fw-bold">
                                        <a title="{{businessUsTopContent[1].title}}" target="_blank" href="{{businessUsTopContent[1].url}}">
                                            {{businessUsTopContent[1].title}}
                                        </a>
                                    </h6>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{businessUsTopContent[1].title}}" target="_blank" href="{{businessUsTopContent[1].url}}">
                                            {{businessUsTopContent[1].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{businessUsTopContent[2].title}}" target="_blank" href="{{businessUsTopContent[2].url}}">
                                        {{businessUsTopContent[2].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{businessUsTopContent[3].title}}" target="_blank" href="{{businessUsTopContent[3].url}}">
                                        {{businessUsTopContent[3].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{businessUsTopContent[4].title}}" target="_blank" href="{{businessUsTopContent[4].url}}">
                                        {{businessUsTopContent[4].title}}
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Business Gb -->
                <div class="row border-bottom-1-e5 pt-3">
                    <h3 class="mb-3">
                        <a title="United Kingdom" href="#">
                            United Kingdom
                        </a>
                    </h3>

                    <div class="col-lg-12">
                        <div class="row border-bottom-1-e5">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <a title="{{businessGbTopContent[0].title}}" target="_blank" href="{{businessGbTopContent[0].url}}">
                                            <img width="100%" height="auto" src="{{businessGbTopContent[0].urlToImage}}" alt="This is an image">
                                        </a>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <h6 class="fs-6 fw-bold">
                                            <a title="{{businessGbTopContent[0].title}}" target="_blank" href="{{businessGbTopContent[0].url}}">
                                                {{businessGbTopContent[0].title}}
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{businessGbTopContent[0].title}}" target="_blank" href="{{businessGbTopContent[0].url}}">
                                            {{businessGbTopContent[0].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="row">
                                    <h6 class="fs-6 fw-bold">
                                        <a title="{{businessGbTopContent[1].title}}" target="_blank" href="{{businessGbTopContent[1].url}}">
                                            {{businessGbTopContent[1].title}}
                                        </a>
                                    </h6>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{businessGbTopContent[1].title}}" target="_blank" href="{{businessGbTopContent[1].url}}">
                                            {{businessGbTopContent[1].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{businessGbTopContent[2].title}}" target="_blank" href="{{businessGbTopContent[2].url}}">
                                        {{businessGbTopContent[2].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{businessGbTopContent[3].title}}" target="_blank" href="{{businessGbTopContent[3].url}}">
                                        {{businessGbTopContent[3].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{businessGbTopContent[4].title}}" target="_blank" href="{{businessGbTopContent[4].url}}">
                                        {{businessGbTopContent[4].title}}
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Business Ca -->
                <div class="row border-bottom-1-e5 pt-3">
                    <h3 class="mb-3">
                        <a title="Canada" href="#">
                            Canada
                        </a>
                    </h3>

                    <div class="col-lg-12">
                        <div class="row border-bottom-1-e5">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <a title="{{businessCaTopContent[0].title}}" target="_blank" href="{{businessCaTopContent[0].url}}">
                                            <img width="100%" height="auto" src="{{businessCaTopContent[0].urlToImage}}" alt="This is an image">
                                        </a>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <h6 class="fs-6 fw-bold">
                                            <a title="{{businessCaTopContent[0].title}}" target="_blank" href="{{businessCaTopContent[0].url}}">
                                                {{businessCaTopContent[0].title}}
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{businessCaTopContent[0].title}}" target="_blank" href="{{businessCaTopContent[0].url}}">
                                            {{businessCaTopContent[0].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="row">
                                    <h6 class="fs-6 fw-bold">
                                        <a title="{{businessCaTopContent[1].title}}" target="_blank" href="{{businessCaTopContent[1].url}}">
                                            {{businessCaTopContent[1].title}}
                                        </a>
                                    </h6>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{businessCaTopContent[1].title}}" target="_blank" href="{{businessCaTopContent[1].url}}">
                                            {{businessCaTopContent[1].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{businessCaTopContent[2].title}}" target="_blank" href="{{businessCaTopContent[2].url}}">
                                        {{businessCaTopContent[2].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{businessCaTopContent[3].title}}" target="_blank" href="{{businessCaTopContent[3].url}}">
                                        {{businessCaTopContent[3].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{businessCaTopContent[4].title}}" target="_blank" href="{{businessCaTopContent[4].url}}">
                                        {{businessCaTopContent[4].title}}
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Business Au -->
                <div class="row border-bottom-1-e5 pt-3">
                    <h3 class="mb-3">
                        <a title="Australia" href="#">
                            Australia
                        </a>
                    </h3>

                    <div class="col-lg-12">
                        <div class="row border-bottom-1-e5">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <a title="{{businessAuTopContent[0].title}}" target="_blank" href="{{businessAuTopContent[0].url}}">
                                            <img width="100%" height="auto" src="{{businessAuTopContent[0].urlToImage}}" alt="This is an image">
                                        </a>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <h6 class="fs-6 fw-bold">
                                            <a title="{{businessAuTopContent[0].title}}" target="_blank" href="{{businessAuTopContent[0].url}}">
                                                {{businessAuTopContent[0].title}}
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{businessAuTopContent[0].title}}" target="_blank" href="{{businessAuTopContent[0].url}}">
                                            {{businessAuTopContent[0].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="row">
                                    <h6 class="fs-6 fw-bold">
                                        <a title="{{businessAuTopContent[1].title}}" target="_blank" href="{{businessAuTopContent[1].url}}">
                                            {{businessAuTopContent[1].title}}
                                        </a>
                                    </h6>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{businessAuTopContent[1].title}}" target="_blank" href="{{businessAuTopContent[1].url}}">
                                            {{businessAuTopContent[1].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{businessAuTopContent[2].title}}" target="_blank" href="{{businessAuTopContent[2].url}}">
                                        {{businessAuTopContent[2].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{businessAuTopContent[3].title}}" target="_blank" href="{{businessAuTopContent[3].url}}">
                                        {{businessAuTopContent[3].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{businessAuTopContent[4].title}}" target="_blank" href="{{businessAuTopContent[4].url}}">
                                        {{businessAuTopContent[4].title}}
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Business Ie -->
                <div class="row border-bottom-1-e5 pt-3">
                    <h3 class="mb-3">
                        <a title="Ireland" href="#">
                            Ireland
                        </a>
                    </h3>

                    <div class="col-lg-12">
                        <div class="row border-bottom-1-e5">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <a title="{{businessIeTopContent[0].title}}" target="_blank" href="{{businessIeTopContent[0].url}}">
                                            <img width="100%" height="auto" src="{{businessIeTopContent[0].urlToImage}}" alt="This is an image">
                                        </a>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <h6 class="fs-6 fw-bold">
                                            <a title="{{businessIeTopContent[0].title}}" target="_blank" href="{{businessIeTopContent[0].url}}">
                                                {{businessIeTopContent[0].title}}
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{businessIeTopContent[0].title}}" target="_blank" href="{{businessIeTopContent[0].url}}">
                                            {{businessIeTopContent[0].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="row">
                                    <h6 class="fs-6 fw-bold">
                                        <a title="{{businessIeTopContent[1].title}}" target="_blank" href="{{businessIeTopContent[1].url}}">
                                            {{businessIeTopContent[1].title}}
                                        </a>
                                    </h6>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{businessIeTopContent[1].title}}" target="_blank" href="{{businessIeTopContent[1].url}}">
                                            {{businessIeTopContent[1].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{businessIeTopContent[2].title}}" target="_blank" href="{{businessIeTopContent[2].url}}">
                                        {{businessIeTopContent[2].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{businessIeTopContent[3].title}}" target="_blank" href="{{businessIeTopContent[3].url}}">
                                        {{businessIeTopContent[3].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{businessIeTopContent[4].title}}" target="_blank" href="{{businessIeTopContent[4].url}}">
                                        {{businessIeTopContent[4].title}}
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>