<div class="container mt-3">
    <div>
        <div class="row">
            <div class="col-lg-8 mb-3">
                <a title="{{topHeadingDisplay.title}}" target="_blank" href="{{topHeadingDisplay.url}}">
                    <img width="100%" height="auto" src="{{topHeadingDisplay.urlToImage}}" alt="This is an image">
                </a>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="row">
                    <h1 class="fs-3 fw-bold">
                        <a title="{{topHeadingDisplay.title}}" target="_blank" href="{{topHeadingDisplay.url}}">
                            {{topHeadingDisplay.title}}
                        </a>
                    </h1>
                </div>
                <div class="row">
                    <p>
                        <a title="{{topHeadingDisplay.title}}" target="_blank" href="{{topHeadingDisplay.url}}">
                            {{topHeadingDisplay.content}}
                        </a>
                    </p>
                </div>
                <div class="row">
                    <p>Source: <a href="#">{{topHeadingDisplay.source.name}}</a></p>
                </div>
            </div>
        </div>

        <div class="row d-none d-md-inline-flex mb-5 border-bottom-1-e5" id="row-heading-sub">
            <div class="col-lg-4 mb-3">
                <div class="row row-start">
                    <h6 class="fs-6 fw-bold">
                        <a title="{{topHeadingArr[0].title}}" target="_blank" href="{{topHeadingArr[0].url}}">
                            {{topHeadingArr[0].title}}
                        </a>
                    </h6>
                </div>
                <div class="row row-center">
                    <p>
                        <a title="{{topHeadingArr[0].title}}" target="_blank" href="{{topHeadingArr[0].url}}">
                            {{topHeadingArr[0].content}}
                        </a>
                    </p>
                </div>
                <div class="row row-end">
                    <p>Source: <a href="#">{{topHeadingArr[0].source.name}}</a></p>
                </div>
            </div>

            <div class="col-lg-4 mb-3">
                <div class="row row-start">
                    <h6 class="fs-6 fw-bold">
                        <a title="{{topHeadingArr[1].title}}" target="_blank" href="{{topHeadingArr[1].url}}">
                            {{topHeadingArr[1].title}}
                        </a>
                    </h6>
                </div>
                <div class="row row-center">
                    <p>
                        <a title="{{topHeadingArr[1].title}}" target="_blank" href="{{topHeadingArr[1].url}}">
                            {{topHeadingArr[1].content}}
                        </a>
                    </p>
                </div>
                <div class="row row-end">
                    <p>Source: <a href="#">{{topHeadingArr[1].source.name}}</a></p>
                </div>
            </div>

            <div class="col-lg-4 mb-3">
                <div class="row row-start">
                    <h6 class="fs-6 fw-bold">
                        <a title="{{topHeadingArr[2].title}}" target="_blank" href="{{topHeadingArr[2].url}}">
                            {{topHeadingArr[2].title}}
                        </a>
                    </h6>
                </div>
                <div class="row row-center">
                    <p>
                        <a title="{{topHeadingArr[2].title}}" target="_blank" href="{{topHeadingArr[2].url}}">
                            {{topHeadingArr[2].content}}
                        </a>
                    </p>
                </div>
                <div class="row row-end">
                    <p>Source: <a href="#">{{topHeadingArr[2].source.name}}</a></p>
                </div>
            </div>
        </div>

        <div class="row border-bottom-1-e5" id="main-content">

            <div class="col-lg-5 border-right-1-e5 pl-3 pb-3 m-0 pr-3" id="left-content">
                <h3 class="mb-3">Top News</h3>

                <div *ngFor="let article of leftContentGeneralPage" class="row pb-3">
                    <div class="row">
                        <h6 class="fs-6 fw-bold">
                            <a title="{{article.title}}" target="_blank" href="{{article.url}}">
                                {{article.title}}
                            </a>
                        </h6>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <a title="{{article.title}}" target="_blank" href="{{article.url}}">
                                <img width="100%" height="auto" src="{{article.urlToImage}}" alt="This is an image">
                            </a>
                        </div>
                        <div class="col-lg-7 col-right">
                            <p>
                                <a title="{{article.title}}" target="_blank" href="{{article.url}}">
                                    {{article.content}}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 m-0 pl-3 pr-3 pb-3" id="right-content">
                <!-- General Us -->
                <div class="row border-bottom-1-e5">
                    <h3 class="mb-3">
                        <a title="United States" href="#">
                            United States
                        </a>
                    </h3>

                    <div class="col-lg-12">
                        <div class="row border-bottom-1-e5">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <a title="{{generalUsTopContent[0].title}}" target="_blank" href="{{generalUsTopContent[0].url}}">
                                            <img width="100%" height="auto" src="{{generalUsTopContent[0].urlToImage}}" alt="This is an image">
                                        </a>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <h6 class="fs-6 fw-bold">
                                            <a title="{{generalUsTopContent[0].title}}" target="_blank" href="{{generalUsTopContent[0].url}}">
                                                {{generalUsTopContent[0].title}}
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{generalUsTopContent[0].title}}" target="_blank" href="{{generalUsTopContent[0].url}}">
                                            {{generalUsTopContent[0].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="row">
                                    <h6 class="fs-6 fw-bold">
                                        <a title="{{generalUsTopContent[1].title}}" target="_blank" href="{{generalUsTopContent[1].url}}">
                                            {{generalUsTopContent[1].title}}
                                        </a>
                                    </h6>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{generalUsTopContent[1].title}}" target="_blank" href="{{generalUsTopContent[1].url}}">
                                            {{generalUsTopContent[1].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{generalUsTopContent[2].title}}" target="_blank" href="{{generalUsTopContent[2].url}}">
                                        {{generalUsTopContent[2].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{generalUsTopContent[3].title}}" target="_blank" href="{{generalUsTopContent[3].url}}">
                                        {{generalUsTopContent[3].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{generalUsTopContent[4].title}}" target="_blank" href="{{generalUsTopContent[4].url}}">
                                        {{generalUsTopContent[4].title}}
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- general Gb -->
                <div class="row border-bottom-1-e5 pt-3">
                    <h3 class="mb-3">
                        <a title="United Kingdom" href="#">
                            United Kingdom
                        </a>
                    </h3>

                    <div class="col-lg-12">
                        <div class="row border-bottom-1-e5">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <a title="{{generalGbTopContent[0].title}}" target="_blank" href="{{generalGbTopContent[0].url}}">
                                            <img width="100%" height="auto" src="{{generalGbTopContent[0].urlToImage}}" alt="This is an image">
                                        </a>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <h6 class="fs-6 fw-bold">
                                            <a title="{{generalGbTopContent[0].title}}" target="_blank" href="{{generalGbTopContent[0].url}}">
                                                {{generalGbTopContent[0].title}}
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{generalGbTopContent[0].title}}" target="_blank" href="{{generalGbTopContent[0].url}}">
                                            {{generalGbTopContent[0].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="row">
                                    <h6 class="fs-6 fw-bold">
                                        <a title="{{generalGbTopContent[1].title}}" target="_blank" href="{{generalGbTopContent[1].url}}">
                                            {{generalGbTopContent[1].title}}
                                        </a>
                                    </h6>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{generalGbTopContent[1].title}}" target="_blank" href="{{generalGbTopContent[1].url}}">
                                            {{generalGbTopContent[1].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{generalGbTopContent[2].title}}" target="_blank" href="{{generalGbTopContent[2].url}}">
                                        {{generalGbTopContent[2].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{generalGbTopContent[3].title}}" target="_blank" href="{{generalGbTopContent[3].url}}">
                                        {{generalGbTopContent[3].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{generalGbTopContent[4].title}}" target="_blank" href="{{generalGbTopContent[4].url}}">
                                        {{generalGbTopContent[4].title}}
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- general Ca -->
                <div class="row border-bottom-1-e5 pt-3">
                    <h3 class="mb-3">
                        <a title="Canada" href="#">
                            Canada
                        </a>
                    </h3>

                    <div class="col-lg-12">
                        <div class="row border-bottom-1-e5">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <a title="{{generalCaTopContent[0].title}}" target="_blank" href="{{generalCaTopContent[0].url}}">
                                            <img width="100%" height="auto" src="{{generalCaTopContent[0].urlToImage}}" alt="This is an image">
                                        </a>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <h6 class="fs-6 fw-bold">
                                            <a title="{{generalCaTopContent[0].title}}" target="_blank" href="{{generalCaTopContent[0].url}}">
                                                {{generalCaTopContent[0].title}}
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{generalCaTopContent[0].title}}" target="_blank" href="{{generalCaTopContent[0].url}}">
                                            {{generalCaTopContent[0].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="row">
                                    <h6 class="fs-6 fw-bold">
                                        <a title="{{generalCaTopContent[1].title}}" target="_blank" href="{{generalCaTopContent[1].url}}">
                                            {{generalCaTopContent[1].title}}
                                        </a>
                                    </h6>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{generalCaTopContent[1].title}}" target="_blank" href="{{generalCaTopContent[1].url}}">
                                            {{generalCaTopContent[1].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{generalCaTopContent[2].title}}" target="_blank" href="{{generalCaTopContent[2].url}}">
                                        {{generalCaTopContent[2].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{generalCaTopContent[3].title}}" target="_blank" href="{{generalCaTopContent[3].url}}">
                                        {{generalCaTopContent[3].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{generalCaTopContent[4].title}}" target="_blank" href="{{generalCaTopContent[4].url}}">
                                        {{generalCaTopContent[4].title}}
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- general Au -->
                <div class="row border-bottom-1-e5 pt-3">
                    <h3 class="mb-3">
                        <a title="Australia" href="#">
                            Australia
                        </a>
                    </h3>

                    <div class="col-lg-12">
                        <div class="row border-bottom-1-e5">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <a title="{{generalAuTopContent[0].title}}" target="_blank" href="{{generalAuTopContent[0].url}}">
                                            <img width="100%" height="auto" src="{{generalAuTopContent[0].urlToImage}}" alt="This is an image">
                                        </a>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <h6 class="fs-6 fw-bold">
                                            <a title="{{generalAuTopContent[0].title}}" target="_blank" href="{{generalAuTopContent[0].url}}">
                                                {{generalAuTopContent[0].title}}
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{generalAuTopContent[0].title}}" target="_blank" href="{{generalAuTopContent[0].url}}">
                                            {{generalAuTopContent[0].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="row">
                                    <h6 class="fs-6 fw-bold">
                                        <a title="{{generalAuTopContent[1].title}}" target="_blank" href="{{generalAuTopContent[1].url}}">
                                            {{generalAuTopContent[1].title}}
                                        </a>
                                    </h6>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{generalAuTopContent[1].title}}" target="_blank" href="{{generalAuTopContent[1].url}}">
                                            {{generalAuTopContent[1].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{generalAuTopContent[2].title}}" target="_blank" href="{{generalAuTopContent[2].url}}">
                                        {{generalAuTopContent[2].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{generalAuTopContent[3].title}}" target="_blank" href="{{generalAuTopContent[3].url}}">
                                        {{generalAuTopContent[3].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{generalAuTopContent[4].title}}" target="_blank" href="{{generalAuTopContent[4].url}}">
                                        {{generalAuTopContent[4].title}}
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- general Ie -->
                <div class="row border-bottom-1-e5 pt-3">
                    <h3 class="mb-3">
                        <a title="Ireland" href="#">
                            Ireland
                        </a>
                    </h3>

                    <div class="col-lg-12">
                        <div class="row border-bottom-1-e5">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <a title="{{generalIeTopContent[0].title}}" target="_blank" href="{{generalIeTopContent[0].url}}">
                                            <img width="100%" height="auto" src="{{generalIeTopContent[0].urlToImage}}" alt="This is an image">
                                        </a>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <h6 class="fs-6 fw-bold">
                                            <a title="{{generalIeTopContent[0].title}}" target="_blank" href="{{generalIeTopContent[0].url}}">
                                                {{generalIeTopContent[0].title}}
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{generalIeTopContent[0].title}}" target="_blank" href="{{generalIeTopContent[0].url}}">
                                            {{generalIeTopContent[0].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="row">
                                    <h6 class="fs-6 fw-bold">
                                        <a title="{{generalIeTopContent[1].title}}" target="_blank" href="{{generalIeTopContent[1].url}}">
                                            {{generalIeTopContent[1].title}}
                                        </a>
                                    </h6>
                                </div>
                                <div class="row">
                                    <p>
                                        <a title="{{generalIeTopContent[1].title}}" target="_blank" href="{{generalIeTopContent[1].url}}">
                                            {{generalIeTopContent[1].content}}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{generalIeTopContent[2].title}}" target="_blank" href="{{generalIeTopContent[2].url}}">
                                        {{generalIeTopContent[2].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{generalIeTopContent[3].title}}" target="_blank" href="{{generalIeTopContent[3].url}}">
                                        {{generalIeTopContent[3].title}}
                                    </a>
                                </h6>
                            </div>
                            <div class="col-lg-4 pt-3 pb-3">
                                <h6 class="fs-6 fw-bold">
                                    <a title="{{generalIeTopContent[4].title}}" target="_blank" href="{{generalIeTopContent[4].url}}">
                                        {{generalIeTopContent[4].title}}
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>